<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sun Salutation</title>
       <%- include partials/_mobile %>
            <link rel="stylesheet" href="/partials/style.css">
  </head>
  <body style="background-color:oldlace;text-align:center;font-size:30px;font-family:'Open Sans'">
    <div id='container'>
        <div class="poseSanskrit"><%= sun2.pose %><br><span id="sanskrit"><%= sun2.sanskrit %></span><br>
  </div>
    <a href="/core"><button>Next Pose</button></a>    <div class="poseSanskrit">
<br>Difficulty Level:  <%= sun2.difficulty %></div>
<a href="/sun2"><button onclick="you()">Open in YouTube</button></a>
<!-- <a href="/sun2"><button>Different Sun Salutation</button></a> -->
</div>
  </body>
  <script type="text/javascript">
    let innerSanskrit;
    let horse;
    innerSankrit = document.getElementById('sanskrit')
    innerSankrit2 = innerSankrit.innerHTML
    function you(){
      horse =  window.open(`https://www.youtube.com/results?search_query=${innerSankrit2}`)
    }
  </script>
</html>
