<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Yoga</title>
       <%- include partials/_mobile %>
  <link rel="stylesheet" href="/partials/style.css">
  </head>
  <body >
<div id="container">
<a href="/generate"><button>Generate Yoga Class</button></a>
</div>
  </body>

</html>
